<h1>Welcome to Project 1</h1>
<h3>By: Gavin Sharma, Ravi Walberg</h3>

<h5><u>Tasks</u></h5>

<ol>
    <li>OVERVIEW ON DATASET</li>
        <ul>
            <li>talk about the data and columns</li>
        </ul>
    <li>TABLEAU</li>
        <ul>
            <li>clean dataset</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    <li>PYTHON</li>
        <ul>
            <li>clean dataset</li>
            <li>overview on dataset stats</li>
            <li>which hotel make more revenue? (1)</li>
            <li>Which hotel has longer waiting time? (1)</li>
            <li>Which hotel have more cancellations? (1)</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
</ol>

<h5><u>Links</u></h5>

<ol>
    <li>https://www.kaggle.com/code/hemlatadixit/hotel-booking-analysis</li>
    <li></li>
    <li></li>
</ol>

<h5>Data Cleaning</h5>

In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 

# READ DATA
df = pd.read_csv("./hotel_bookings.csv")
# df.head()
# df.info()

# CLEAN DATA
# check what data is missing
df.isnull().sum().sort_values(ascending=False)

# because there is so much missing data from 'company' and 'agent',
# we will remove them from the dataframe
df = df.drop(['company', 'agent'], axis=1)  
# remove the NA values from 'children' and 'country'
df = df.dropna(axis=0)
# reset the index
df.reset_index(drop=True)
# df.head()

# set the data type of 'children' to int64
df['children'] = df['children'].astype(np.int64)
df['children'].dtype

# recheck for any missing data
df.isnull().sum().sort_values(ascending=False)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03